main{
  padding-top: 0;
}
section:nth-child(odd){
  background-color: #eee;
}
section#point{
  background-color: #ffca00;
}
section#point .wrap{
   
}
ssection#point .wrap>*{
  transform: translateX(50%);
  margin-left: 70px;
}
section#point .wrap h2{
   
}
section#point .wrap p{

   
}